<div ng-include="'app/navbar/navbar.html'"></div>
<div class="row border-bottom white-bg dashboard-header">
  <div class="row ibox-content">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Change Password</h1>
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
        <div class="form-group">
          <label>Current Password</label>
          <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error />
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="4"
            required />
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 4 characters.
          </p>
        </div>
        <div class="alert alert-{{message_style}}">
          {{message}}
        </div>
        <button class="btn btn-success pull-right" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>