<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            <h3>Welcome</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <b style="text-transform: capitalize;">{{ name }}</b>,
                                            <br /> You have been successfully signup.
                                            <br /> You can login to your account using your email {{ email }} and password  at {{link}}.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            Thank You,
                                            <br /> Nandkishor Patil
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>