<body>

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            <h3>Welcome</h3>
                                            <h4>Reset Password</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <b>{{ name }}</b> You are receiving this because you (or
                                            someone else) have requested the reset of the password for your account {{ email }}.<br>
                                            This mail is valid only for 10 minutes.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            If you did not request this, please ignore this email and your password will remain unchanged.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block aligncenter">
                                            <a href="{{link}}" class="btn-success">Confirm email address</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>